
#sidebar-loading-overlay {
  transition: opacity 0.3s ease;
  height:100%;
}

#sidebar-loading-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

#sidebar-loading-overlay img {
  width: 75%;   /* aumenta ou diminui aqui */
  height: 75%;
  display: block; /* remove pequenos espaços em linha */
  object-fit: contain; /* opcional: garante que a imagem nunca estoure */
  opacity: 0.7;
}

/* Ajuste de texto em mensagens para celular */
@media (max-width: 640px) {
  #turno-historico-inner p {
    font-size: 0.95rem !important;
  }
  #turno-historico-inner span {
    font-size: 0.95rem !important;
  }
}

#turno-historico-inner > div {
  animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
